
<div class="navbar">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <a class="brand" href="/">Abcdefghijk</a>


<div class="navbar-form pull-left">
  <input type="text" class="" id="text">
  <a hret="#" class="btn"><%= icon('comment-alt') %></a>
</div>
<% if false %>
<div class="navbar-form pull-right">
  <a hret="#" class="btn btn-primary">
    <i class="icon-ok"></i>
  </a>
<!-- 
  <a hret="#" class="btn btn-primary">
    A
  </a>
  <a hret="#" class="btn btn-primary">
    B
  </a>
   -->
</div>
<% end %>


    </div>
  </div><!-- /navbar-inner -->
</div>