<!DOCTYPE html>
<html>
<head>
  <title>Game1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "game" %>
  <%= csrf_meta_tags %>
</head>
<body>



<!-- 

  
<div id="smallpanel">
  <div style="width:50%;margin-top:5px">
  
  <input style="width:75%;" />
  <a href="#" class="btn btn-mini btn-primary" style="width:8%"><i class="icon-white icon-circle-arrow-right"></i></a>
  </div>
  
  <a href="#" class="btn btn-mini btn-primary" id="btn1">A</a>
  <a href="#" class="btn btn-mini btn-primary" id="btn2">B</a>
</div>
 -->

<div id="wrapper-out">
<div id="wrapper">

  <div id="split">
    <div id="panel">
    </div>
    <canvas id="canvas">
    </canvas>
  </div>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <a class="brand" href="/">Abcdefghijk</a>


<div class="navbar-form pull-left">
  <input type="text" class="">
  <a hret="#" class="btn">
    <i class="icon-comment-alt"></i>
  </a>
</div>

<div class="navbar-form pull-right">
  <a hret="#" class="btn btn-primary">
    <i class="icon-ok"></i>
  </a>
<!-- 
  <a hret="#" class="btn btn-primary">
    A
  </a>
  <a hret="#" class="btn btn-primary">
    B
  </a>
   -->
</div>


    </div>
  </div><!-- /navbar-inner -->
</div>


</div>
</div>


<%= yield %>

</body>
</html>
